/* Reset default browser styles */
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f0f8ff; /* Light blue for ocean theme */
    color: #333;
}

.post {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px; /* Increased border radius */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title h2 {
    color: #006994; /* Dark blue for headings */
}

.profile-picture {
    width: 2400px; /* Adjust the width as needed */
    height: 2400px; /* Adjust the height as needed */
    border-radius: 50%; /* Creates a circular shape */
    border: 2px solid #fff; /* Example border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow */
    margin-bottom: 20px; /* Add margin to bottom */
}


.icons a {
    display: inline-block; /* Ensure icons are aligned horizontally */
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #006994; /* Dark blue for icons */
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

/* Adjust the size of the icons */
.icons .icon {
    font-size: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* Add space between paragraphs */
    .content p {
        margin-bottom: 20px;
    }
}

/* Main container */
#wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* Main content */
#main {
    flex: 2;
    padding: 20px;
}

/* Sidebar */
#sidebar {
    flex: 1;
    padding: 20px;
}

/* Profile section */
#intro {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Stack items vertically */
}


/* Logo */
.logo img {
    width: 400px; /* Adjust the width of the image as needed */
    border-radius: 50%;
}



/* Responsive styles */
@media screen and (max-width: 768px) {
    /* Arrange items vertically */
    #wrapper {
        flex-direction: column;
    }

    /* Put sidebar on top */
    #sidebar {
        order: -1;
    }

    /* Reset margin for profile picture */
    .profile-picture {
        margin-bottom: 0;
    }

    /* Remove width property for smaller screens */
    .logo img {
        width: 200px; /* Set width to auto for responsive behavior */
    }
}
