/* Reset default browser styles */
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f0f8ff; /* Light blue for ocean theme */
    color: #333;
}

.post {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px; /* Increased border radius */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title h2 {
    color: #006994; /* Dark blue for headings */
}

/* Profile picture */
.profile-picture {
    width: 100%; /* Ensure image fills its container */
    max-width: 400px; /* Limit maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Creates a circular shape */
    border: 2px solid #fff; /* Example border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow */
    margin-bottom: 20px; /* Add margin to bottom */
}
